# Ans1-

Ordinal Encoding assigns numerical values to categorical variables with an inherent order,

 Label Encoding assigns unique numbers to categories without any inherent order

In [1]:
import pandas as pd
from sklearn.preprocessing import OrdinalEncoder, LabelEncoder

# Example DataFrame
data = {'Size': ['Small', 'Medium', 'Large', 'Medium', 'Small']}
df = pd.DataFrame(data)
df

     Size
0   Small
1  Medium
2   Large
3  Medium
4   Small

In [2]:
# Ordinal Encoding
ordinal_encoder = OrdinalEncoder(categories=[['Small', 'Medium', 'Large']])
df['Size_Ordinal'] = ordinal_encoder.fit_transform(df[['Size']])

In [3]:
df

     Size  Size_Ordinal
0   Small           0.0
1  Medium           1.0
2   Large           2.0
3  Medium           1.0
4   Small           0.0

In [4]:
# Label Encoding
label_encoder = LabelEncoder()
df['Size_Label'] = label_encoder.fit_transform(df['Size'])

df

     Size  Size_Ordinal  Size_Label
0   Small           0.0           2
1  Medium           1.0           1
2   Large           2.0           0
3  Medium           1.0           1
4   Small           0.0           2

# Ans2-

Target Guided Ordinal Encoding is a technique where the encoding of categorical variables is based on the target variable's mean or other statistical measures. It involves ordering the categories of a categorical variable based on the target variable's behavior.

Here's a step-by-step explanation:

Calculate the mean of the target variable for each category in the categorical variable.

Order the categories based on their mean values.

Assign ordinal labels to the categories based on their order.

In [5]:
import pandas as pd

# Example DataFrame
data = {'City': ['A', 'B', 'C', 'A', 'B', 'C'],
        'Churn': [0, 1, 0, 0, 1, 1]}
df = pd.DataFrame(data)
df

  City  Churn
0    A      0
1    B      1
2    C      0
3    A      0
4    B      1
5    C      1

In [6]:
# Calculate mean of 'Churn' for each 'City'
city_means = df.groupby('City')['Churn'].mean().sort_values()

In [9]:
# Create a mapping based on the order of mean values
city_mapping = {city: i for i, city in enumerate(city_means.index)}
city_mapping

{'A': 0, 'C': 1, 'B': 2}

In [10]:
# Apply Target Guided Ordinal Encoding
df['City_Encoded'] = df['City'].map(city_mapping)

df

  City  Churn  City_Encoded
0    A      0             0
1    B      1             2
2    C      0             1
3    A      0             0
4    B      1             2
5    C      1             1

# Ans3-

ovariance is a statistical measure that quantifies the degree to which two variables change together; it's important in statistical analysis to understand the relationship and direction of change between variables.

# Ans4-

In [12]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

# Example DataFrame
data = {'Color': ['red', 'green', 'blue', 'red', 'green'],
        'Size': ['small', 'medium', 'large', 'medium', 'small'],
        'Material': ['wood', 'metal', 'plastic', 'wood', 'metal']}
df = pd.DataFrame(data)

# Initialize LabelEncoder
label_encoder = LabelEncoder()

# Apply Label Encoding to each categorical column
df['Color_Encoded'] = label_encoder.fit_transform(df['Color'])
df['Size_Encoded'] = label_encoder.fit_transform(df['Size'])
df['Material_Encoded'] = label_encoder.fit_transform(df['Material'])

df

   Color    Size Material  Color_Encoded  Size_Encoded  Material_Encoded
0    red   small     wood              2             2                 2
1  green  medium    metal              1             1                 0
2   blue   large  plastic              0             0                 1
3    red  medium     wood              2             1                 2
4  green   small    metal              1             2                 0

# Ans5-

he covariance matrix provides insights into the relationships between pairs of variables.

In [13]:
import pandas as pd

# Example DataFrame
data = {'Age': [25, 30, 35, 40, 45],
        'Income': [50000, 60000, 75000, 90000, 80000],
        'Education_Level': [12, 16, 18, 14, 20]}
df = pd.DataFrame(data)

# Calculate covariance matrix
covariance_matrix = df.cov()

print("Covariance Matrix:")

In [14]:
covariance_matrix

                      Age       Income  Education_Level
Age                  62.5     112500.0             17.5
Income           112500.0  255000000.0          22500.0
Education_Level      17.5      22500.0             10.0

# Ans6-

Gender: Use Label Encoding because there are only two categories (Male/Female), and there is no inherent order.

Education Level: Use Ordinal Encoding because there is a meaningful order (High School < Bachelor's < Master's < PhD).

Employment Status: Use One-Hot Encoding because there is no inherent order, and each category is independent of the others.

# Ans7-